<div class="fuse-countdown">
    <div fxFlex="1 2 200px" class="font-size-16 blue-fg">
Czas do rozpoczęcia:
    </div>
    <div class="time days">
        <div class="value">
            {{countdown.days}}
        </div>
        <div class="title">
            dni
        </div>
    </div>

    <div class="time hours">
        <div class="value">
            {{countdown.hours}}
        </div>
        <div class="title">
            godziny
        </div>
    </div>

    <div class="time minutes">
        <div class="value">
            {{countdown.minutes}}
        </div>
        <div class="title">
            minuty
        </div>
    </div>

    <div class="time seconds">
        <div class="value">
            {{countdown.seconds}}
        </div>
        <div class="title">
            sekundy
        </div>
    </div>

</div>