<div id="reset-password" fxLayout="row" fxLayoutAlign="start">

        <div id="login-intro" fxLayout="column" fxFlex fxHide fxShow.gt-xs>

                <div class="logo-image" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
                    <img  class="h-200" src="assets/images/logos/logo-mmp.png">
                </div>
        
                <!-- <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                    Witamy w systemie szkoleń MM Poland Maszyny Standardy!
                </div>
         -->
                <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                    
                </div>
                <div fxFlex="auto" ></div>
                <div class="" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'1'}}">
                    <img src="assets/images/logos/logo-ue.jpg">
                </div>
            </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
               
            </div>

            <div class="title">ZRESETUJ HASŁO</div>
            <div class="description" class="red-fg">{{errors}}</div> 
            <!-- Wystąpił błąd podczas resetowania hasła</div> -->

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <!-- <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="resetPasswordFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordFormErrors.email.required && resetPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field>
                    <input  matInput placeholder="Nowe hasło" formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordFormErrors.password.required">
                       Hasło jest wymagane
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Potwierdź hasło " formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-hint *ngIf="resetPasswordForm.hasError('nomatch')">Hasła nie są jednakowe</mat-hint>
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                       Potwierdzenie hasła jest wymagane
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="resetPassword()"
                        aria-label="Label.Res   etPassword | translate" [disabled]="resetPasswordForm.invalid">
                    RESETUJ HASŁO
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth-login'">Przejdź do logowania</a>
            </div>

        </div>
    </div>
</div>