<div style="">
<h5><strong>REGULAMIN UCZESTNICTWA W SZKOLENIACH ORGANIZOWANYCH PRZEZ MM POLAND MASZYNY STANDARDY&nbsp;w ramach projektu:</strong></h5>
<p>&bdquo; Szkolenie pracownik&oacute;w administracyjnych i zarządzających szpitali w zakresie efektywnego zarządzania aparaturą medyczną gwarantującego wysoką jakość usług oraz efektywność ekonomiczną plac&oacute;wki medycznej.&rdquo;</p>
<h2>&nbsp;&sect; 1 Postanowienia og&oacute;lne</h2>
<ol>
<li>Niniejszy regulamin określa warunki zgłoszenia oraz uczestnictwa w szkoleniach organizowanych przez MM Poland Maszyny Standardy sp. z o.o. (zwaną w dalszej części Organizatorem).</li>
<li>Szczeg&oacute;łowe informacje o organizowanych szkoleniach znajdują się na stronie internetowej MM Poland Maszyny Standardy Sp. z o.o. pod adresem www.mmpoland.pl</li>
<li>Zgłoszony i zakwalifikowany na szkolenie uczestnik/uczestniczka nie ponosi koszt&oacute;w związanych z uczestnictwem w szkoleniu. Udział w zajęciach, materiały szkoleniowe, skrypt, zakwaterowanie oraz wyżywienie w trakcie szkolenia są bezpłatne.</li>
<li>Koszty podr&oacute;ży uczestnika / uczestniczki szkolenia pokrywa instytucja zgłaszająca.</li>
<li>Szkolenia są wsp&oacute;łfinansowane ze środk&oacute;w Unii Europejskiej w ramach Programu Operacyjnego Wiedza Edukacja Rozw&oacute;j.</li>
</ol>
<h2>&sect; 2 Zgłoszenia na szkolenie</h2>
<ol>
<li>Uczestniczką/uczestnikiem szkolenia jest osoba zgłoszona na szkolenie.</li>
<li>Zgłoszenia można dokonać poprzez:</li>
</ol>
<ul>
<li>przesłanie elektronicznego formularza zgłoszeniowego dostępnego na stronie internetowej MM Poland Maszyny Standardy Sp. z o.o. pod adresem www.mmpoland.pl</li>
<li>przesłanie wypełnionego i zeskanowanego formularza zgłoszeniowego dostępnego na stronie internetowej MM Poland Maszyny Standardy Sp. z o.o. pod adresem www.mmpoland.pl na adres e-mail: szkolenia@mmpoland.pl</li>
<li>przesłanie oryginału wypełnionego formularza zgłoszeniowego dostępnego na stronie internetowej MM Poland Maszyny Standardy Sp. z o.o. pod adresem www.mmpoland.pl na adres siedziby firmy: MM Poland Maszyny Standardy Sp. z o.o., ul. L. Krzywickiego 34, 02-078 Warszawa</li>
</ul>
<ol start="3">
<li>Ostateczne potwierdzenie udziału w szkoleniu będzie możliwe po przesłaniu<strong>oryginału wypełnionego formularza zgłoszeniowego na adres siedziby firmy: MM Poland Maszyny Standardy Sp. z o.o., ul. L. Krzywickiego 34, 02-078 Warszawa</strong></li>
<li>Uczestnicy zobowiązani są do wypełnienia całego formularza.</li>
<li>Dokonanie zgłoszenia na szkolenie jest jednoznaczne z zaakceptowaniem terminu szkolenia określonego w formularzu zgłoszeniowym, zgody na przetwarzanie danych osobowych dla cel&oacute;w rekrutacji oraz niniejszego regulaminu.</li>
<li>Ilość miejsc na każde szkolenie jest ograniczona. O wpisaniu na listę uczestnik&oacute;w decyduje kolejność zgłoszeń.</li>
<li>Przyjęcie zgłoszenia zostanie potwierdzone przez Organizatora za pośrednictwem poczty elektronicznej.</li>
<li>W szkoleniu biorą udział pracownicy publicznych plac&oacute;wek medycznych.</li>
</ol>
<h2>&nbsp;&sect; 3 Rezygnacja ze szkolenia</h2>
<ol>
<li>Rezygnacji ze szkolenia, maksymalnie do 5 (pięciu) dni roboczych przed terminem rozpoczęcia szkolenia, należy dokonać przesyłając do Organizatora pismo informujące o rezygnacji z uczestnictwa w szkoleniu, e &ndash; mailem na adres szkolenia@mmpoland.pl</li>
<li>Za datę rezygnacji ze szkolenia uznaje się datę wpływu maila do Organizatora.</li>
<li>W przypadku wpłynięcia maila do Organizatora w dniu wolnym od pracy za datę wpływu uznaje się następujący po nim dzień roboczy.</li>
<li>W przypadku rezygnacji uczestnika ze szkolenia w czasie kr&oacute;tszym niż 5 (pięć) dni roboczych przed terminem rozpoczęcia szkolenia uczestnik zobowiązany jest do wskazania swojego zastępcy na szkolenie&nbsp;lub pokrycia koszt&oacute;w poniesionych przez organizatora.</li>
<li>Organizator zastrzega sobie prawo do odwołania szkolenia z przyczyn od niego niezależnych lub w przypadku zgłoszenia się niewystarczającej liczby uczestnik&oacute;w na 3 dni robocze przed terminem szkolenia.</li>
<li>W przypadku odwołania szkolenia z winy Organizatora, Organizator niezwłocznie poinformuje, o tym fakcie każdego z uczestnik&oacute;w.</li>
</ol>
<h2>&nbsp;&sect; 4 Warunki uczestnictwa</h2>
<ol>
<li>Uczestnicy zobowiązani są do punktualnego przybycia na szkolenie</li>
<li>Szkolenie trwa 3 dni następujące po sobie.</li>
<li>Szkolenie rozpoczyna się o godzinie 00 a kończy ok. godz. 18.00. Obowiązuje 8 godzin szkolenia plus przerwa obiadowa i dwie przerwy kawowe.</li>
<li>Organizator zapewnia uczestnikom szkolenia materiały szkoleniowe, certyfikaty, noclegi w hotelu, posiłki i przerwy kawowe.</li>
<li>Po odbyciu szkolenia uczestniczka/uczestnik w ciągu od 14 do 30 dni ma obowiązek przystąpienia do testu sprawdzającego wiedzę zdobytą podczas szkolenia.</li>
<li>Test sprawdzający wiedzę zdobytą podczas szkolenia zostanie przeprowadzony on-line.</li>
<li>Każdy uczestnik otrzyma certyfikat potwierdzający udział w szkoleniu.</li>
<li>Uczestnicy zobowiązani są do podpisania listy obecności, odebrania materiał&oacute;w szkoleniowych i certyfikat&oacute;w.</li>
</ol>
<h2>&nbsp;&sect; 5 Ochrona danych osobowych</h2>
<ol>
<li>Wypełniając formularz zgłoszeniowy uczestnik wyraża zgodę na przetwarzanie danych osobowych przez Organizatora, zgodnie z ustawą z dnia 29 sierpnia 1997r. o ochronie danych osobowych ( t. j. Dz. U. z 2002 r., nr 101, poz. 926 ze zm.).</li>
<li>Uczestnikom przysługuje prawo do wglądu w treść swoich danych osobowych, do dokonania ich zmiany oraz żądania ich usunięcia.</li>
<li>Wypełniając formularz zgłoszeniowy uczestnik wyraża zgodę na nieodpłatne wykorzystanie wizerunku przez Organizatora.</li>
</ol>
<h2>&nbsp;&sect; 6 Postanowienia końcowe</h2>
<ol>
<li>Organizator zastrzega sobie prawo do wprowadzania zmian w niniejszym regulaminie.</li>
<li>Wprowadzone zmiany będą na bieżąco publikowane na stronie internetowej MM Poland Maszyny Standardy Sp. z o.o. pod adresem www.mmpoland.pl</li>
<li>W kwestiach nieuregulowanych w niniejszym regulaminie zastosowanie mają odpowiednie przepisy Kodeksu Cywilnego.</li>
</ol>
</div>