<div id="forgot-password" fxLayout="row" fxLayoutAlign="start">

        <div id="login-intro" fxLayout="column" fxFlex fxHide fxShow.gt-xs>

                <div class="logo-image" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
                    <img  class="h-200" src="assets/images/logos/logo-mmp.png">
                </div>
        
                <!-- <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                    Witamy w systemie szkoleń MM Poland Maszyny Standardy!
                </div> -->
        
                <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                    
                </div>
                <div fxFlex="auto" ></div>
                <div class="" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'1'}}">
                    <img src="assets/images/logos/logo-ue.jpg">
                </div>
            </div>

    <div id="forgot-password-form-wrapper" style="text-align: center;" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">{{'Info.PasswordRecovery' | translate}}</div>
            <div class="description" class="red-fg">{{errors}}</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                        Email jes wymagany
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Wprowadź poprawny adres
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="requestPassword()"
                        aria-label="SEND RESET LINK"   [disabled]="forgotPasswordForm.invalid">
                    Wyślij link resetujący
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth-login'">Przejdź do logowania</a>
            </div>

        </div>
    </div>
</div>