<div id="course" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-16" mat-icon-button [routerLink]="'courses'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="h2">
            Szkolenie
          </div>
          <div class="subtitle secondary-text">
            <span>Temat: </span>
            <span>{{course.name}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div *ngIf="course.fundingEU" fxLayout="row">
        <div>
          <img class="w-200" src="assets/images/logos/logo-eu-left.jpg">
        </div>
        <div fxFlex="auto"></div>
        <div>
          <img class="w-300" src="assets/images/logos/logo-eu-right.jpg">
        </div>
      </div>
      <div class="content">

        <mat-tab-group #tabb>

          <mat-tab label="Szkolenie">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px">
                <mat-icon fxFlex>school</mat-icon>
                <span fxFlex>Szkolenie</span>
              </div>

            </ng-template>
            <div class="order-details tab-content p-24" fusePerfectScrollbar>



              <div *ngIf="!isuserCourse" class="pb-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="center center">
                <button mat-fab color="accent" (click)="tabb.selectedIndex=1">
                  <mat-icon>touch_app</mat-icon>
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="5px">
                <div class="fuse-card" fxFlex="50">
                  <div class="card-image" *ngIf="course.logoMedia">
                    <img [src]="course.logoMedia.name|mediaUrl">
                  </div>
                  <div class="p-16">
                    <div class="h1">{{course.name}}</div>
                    <div class="card-divider"></div>

                  </div>
                  <div class="mb-16 px-16 text-bold">
                    <p>od {{course.startDt | dateFormat}}</p>
                    <p>do {{course.endDt | dateFormat}} </p>
                  </div>
                  <div class="px-16 line-height-1.75">
                    {{course.desc}}
                  </div>
                </div>

                <div class="fuse-card" fxFlex="50" fxLayout="column">
                  <div class="p-8">
                    <P class="mb-16 px-16 text-bold">Cel szkolenia</P>
                    <p class="p-8"> {{course.purpose}}</p>
                  </div>
                  <div class="p-8">
                    <P class="mb-16 px-16 text-bold">Dla kogo</P>
                    <p class="p-8"> {{course.recipient}}</p>
                  </div>
                  <div class="p-8">
                    <P class="mb-16 px-16 text-bold">Program szkolenia</P>
                    <div class="p-8" [innerHTML]="course.agenda"></div>
                  </div>
                  <!-- 
                <div class="section p-48" fxFlex="50">
                  <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="m-0 mr-16">location_on</mat-icon>
                    <div class="h2 secondary-text">Lokalizacja</div>
                  </div>
                  <agm-map class="w-100-p h-400" [zoom]="12" [latitude]="course.goelocLat" [longitude]="course.goelocLong">
                    <agm-marker [latitude]="course.goelocLat" [longitude]="course.goelocLong">
                    </agm-marker>
                  </agm-map>
                </div> -->


                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Rejestracja" [disabled]="isuserCourse">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <mat-icon fxFlex>touch_app</mat-icon>
                <span fxFlex>Rejestracja</span>
              </div>
            </ng-template>

            <div class="order-details tab-content p-24  h-100-p" fusePerfectScrollbar>
              <div class="section pb-48">

                <mat-card>
                  <mat-card-header fxLayout="column">
                    <tcm-app-form fxFlex="1 1 200px" *ngIf="!candidateObject.id && !isuserCourse; else isAlready" [ctrlAlign]="'center stretch'"
                      [allowAddNew]=false [objectName]="'Rejestracja na szkolenie: '+course.name" [formValue]="candidateObject"
                      [formFields]="candidateFields" [saveButtonLabal]="'Zarejestruj się na szkolenie'" (onSave)="candidateSave($event)">
                    </tcm-app-form>
                    <ng-template #isAlready>
                      <div fxLayout="column" fxLayoutAlign="start center">
                        <span>Jesteś już zarejestrowany na wybrane szkolenie</span>
                        <br>
                        <div *ngIf="!isuserCourse" fxLayout="column" fxLayoutAlign="start center">
                          <span>Jeżeli chcesz anulować swoje zgłoszenie naciśnij poniższy przycisk</span>
                          <br>
                          <button mat-raised-button color="primary" (click)="applicationCancel()">Rezygnuję ze szkolenia</button>
                        </div>
                      </div>
                    </ng-template>
                  </mat-card-header>
                  <mat-card-content>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Materiały" [disabled]="!isuserCourse && !auth.isAdmin">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">

                <mat-icon fxFlex>business_center</mat-icon>
                <span fxFlex>Materiały</span>
              </div>
            </ng-template>
            <div class="order-details tab-content p-24  h-100-p">
              <div class="section pb-48">
                <mat-card>
                  <mat-card-header fxLayout="column">
                    <mat-card-title>
                      <p class="font-size-22">Materiały szkoleniowe</p>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-actions *ngIf="auth.isAdmin">
                    <button mat-raised-button color="primary" (click)="setCourseLogo()">Ustaw logo szkolenia</button>
                    <button mat-raised-button color="primary" (click)="addFiles()">Dodaj załącznik</button>
                  </mat-card-actions>
                  <mat-card-content>
                    <mat-list *ngIf="fileRows" class="p-8 ">
                      <mat-list-item fxLayout="column">
                        <div fxLayout="row" class="w-100-p" fxLayoutAlign="space-between center">
                          <div fxFlex="60"  class="mat-title" >Nazwa</div>

                          <!-- <div fxFlex="20"  class="mat-title">Typ załącznika</div> -->
                          <div fxFlex="30"  class="mat-title">Rozmiar (KB)</div>
                          <div *ngIf="auth.isAdmin" fxFlex="10"></div>
                        </div>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                      <mat-list-item *ngFor="let item of fileRows" fxLayout="column">
                        <div fxLayout="row" class="w-100-p font-size-13 " fxLayoutAlign="space-between start">
                          <a fxFlex="60" href="{{item.media.name|mediaUrl}}" target="_self">{{item.media.name}}</a>
<!-- 
                          <span fxFlex="20">{{item.media.type}}</span> -->
                          <span fxFlex="30">{{item.media.size}}</span>

                          <button  *ngIf="auth.isAdmin" fxFlex="10" mat-icon-button color="warn" (click)="deleteFile(item)">
                            <mat-icon aria-label="Usuń załącznik">delete</mat-icon>
                          </button>
                        </div>
                        <mat-divider></mat-divider>
                      </mat-list-item>

                    </mat-list>
                  </mat-card-content>
                 
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Testy" [disabled]="!isuserCourse && !isTrainerCourse && !auth.isAdmin">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <mat-icon fxFlex>assignment_turned_in</mat-icon>
                <span fxFlex>Testy</span>
              </div>
            </ng-template>
            <div class="order-details tab-content p-24  h-100-p">


              <app-list [allowAddNew]="auth.isAdmin" (onChoose)="examEvaluate($event)" [chooseMode]="isTrainerCourse" [allowEditDelete]="auth.isAdmin"
                [modelDef]="examDef" [data]="examRows" (onRowActivate)="onExamActivate($event)" [loadRelations]="examDetailsDef"
                (goToAddNew)="addNewExam()" (onEdit)="onExamEdit($event)" (onDelete)="onExamDelete($event)">
              </app-list>


            </div>
          </mat-tab>

          <mat-tab label="Uczestnicy"  [disabled]="!auth.isAdmin">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <mat-icon fxFlex>group</mat-icon>
                <span fxFlex>Uczestnicy</span>
              </div>
            </ng-template>
            <div class="order-details tab-content p-24 h-100-p">
              <app-list [modelDef]="userDef" [data]="userRows" (onRowActivate)="onUserActivate($event)" (goToAddNew)="addNewUser()" (onDelete)=onUserDelete($event)>
              </app-list>
            </div>
          </mat-tab>
          <mat-tab label="Kandydaci"  [disabled]="!auth.isAdmin">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <mat-icon fxFlex>group</mat-icon>
                <span fxFlex>Kandydaci</span>
              </div>
            </ng-template>
            <div class="order-details tab-content p-24 h-100-p">
              <app-list [modelDef]="candidateDef" [data]="candidateRows" [allowAddNew]="false" [allowEditDelete]="false" [chooseMode]="true" [loadRelations]="candidateRelDef" (onChoose)="acceptCandidates($event)" >
              </app-list>
            </div>
          </mat-tab>
          <mat-tab label="Trenerzy"  [disabled]="!auth.isAdmin">
            <ng-template mat-tab-label>
              <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <mat-icon fxFlex>record_voice_over</mat-icon>
                <span fxFlex>Trenerzy</span>
              </div>
            </ng-template>
            <div class="order-details tab-content p-24 h-100-p">
              <app-list [modelDef]="userDef" [data]="trainerRows" (goToAddNew)="addNewTrainer()" (onDelete)=trainerDelete($event)>
              </app-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>